@model IEnumerable<TrocaJusta.Models.Troca>

@{
    ViewData["Title"] = "Index";
}

<h1>Troca</h1>
<div class="flex-container">
<div>
    <p>Nome:Paulo Santos Silva</p>
    <p>Profissão:Pintor</p>
    <p>Serviço:manutenção</p>
    <p>Telefone:(71)9 8756-7895</p>
    <p>Email:paulo@hotmail.com</p>
    <div >
        <a style="background-color:#519548" type="submit"  class="btn btn-primary"  asp-action="Index" asp-controller="Concluido">Concluido</a>
        <a style="background-color:red" type="submit"  asp-action="Create" asp-controller="Reclamacao"  class="btn btn-primary">Reclamar</a>
        </div>
</div>
<div>
  <img  src="img/ttt.jpg"  width="150" height="150">  
</div>
<div>
    <p>Nome:Miller Nascimento souza</p>
    <p>Profissão:Eletricista</p>
    <p>Serviço:manutenção</p>
    <p>Telefone:(71)9 8756-7895</p>
    <p>Email:Miller@hotmail.com</p>
    <div>
                <a style="background-color:#519548" type="submit"  class="btn btn-primary" asp-action="Index" asp-controller="Concluido" >Concluido</a>
                <a style="background-color:red" type="submit"  asp-action="Create" asp-controller="Reclamacao"  class="btn btn-primary">Reclamar</a>
            </div>
</div>

</div>

