@model Login
@{
  Layout = "_LayoutD";
  ViewData["Tittle"] = "Login";
  @if (TempData["MensagemErro"] != null)
  
  {
    <div class="alert alert-danger" role="alert">
      <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">x</button>
      @TempData["MensagemErro"]
    </div>
  }

}

<body >
  

<div class="container2"  >
 
  <form class="form-inline" asp-controller="Login" asp-action="Entrar" method="post">
    <div class="form-group">
      <label for="Email">Email:</label>
      <input type="Email" asp-for="Email" class="form-control" id="Email" placeholder="Exemplo@gmail.com">
      @Html.ValidationMessageFor(x => x.Email)

    </div>
    <br>
    <div class="form-group">
      <label for="Senha">Senha:</label>
      <input type="password" asp-for="Senha" class="form-control" id="Senha" placeholder="Digite sua Senha">
      @Html.ValidationMessageFor(x => x.Senha)

    </div>
    <br>
    <div class="checkbox">
      <label><input type="checkbox">Lembre-me</label>
    </div>
    <br>
    <div>
    <button style="background-color:#519548" type="submit" class="btn btn-success">Entre</button>
    <button style="background-color:#070743" type="submit" class="btn btn-success" asp-action="Index" asp-controller="Principal">Voltar</button>
    <a class="text-dark " asp-area="" asp-controller="Usuario" asp-action="Create">Cadastre-se</a>
    </div>
  </form>
</div>

</body>
