@{
    Layout = "_LayoutD";
    
    
} 

<div class="funciona">
    
    <h2>Como fazer uma troca Justa</h2>
    
    <div>
        <img  src="img/net.png"  width="70" height="50">
    <h4>1 - Acesse o site TrocaJusta </h4>
    <p>Crie de forma gratuita seu cadastro</p>
    </div>
    <div>
         <img  src="img/cadas.jpg"  width="70" height="50">
    <h4>2 - Cadastro </h4>
    <p>Insira sua profissão ou especialidade e demais dados</p>
    </div>
    <div>
         <img  src="img/serv.png"  width="70" height="50">
    <h4>3 - Serviço</h4>
    <p>Insira o serviço que deseja e o serviço que pode ofertar</p>
    </div>
    <div>
         <img  src="img/conect.jpg"  width="70" height="50">
    <h4>4 - Conecte</h4>
    <p> Se conecte com outros usuários, pesquise por localidade</p>
    </div>
    <div>
        <img  src="img/proposta.jpg"  width="70" height="50">
    <h4>5 - Propostas</h4>
    <p>Receba e envie propostas de trocas, depois basta aceitar ou negar</p>
    </div>
    <div>
        <img  src="img/av.jpg"  width="70" height="50">
    <h4>6 - Avalie</h4>
    <p>Avalie no site as trocas realizadas, isso nos ajuda a manter a Comunidade mais segura 
        e dentro dos padrões</p>
    </div>
    <div>
        <img  src="img/troca.jpg"  width="70" height="50">
    <h4>7 - Troca</h4>
    <p>Agora basta usar o TrocaJusta e resolver problemas do dia a dia.</p>
    </div>

</div>