@{
    Layout = "_LayoutD";
    
    
} 

<div class="funciona" style="text-align:left">
    <div style="text-align:center">
        <h1>Como fazer uma Troca Justa</h1>
    </div>

    <div>
        <h3>Acesse o site TrocaJusta </h3>
        <p>Crie sua conta de forma gratuita.</p>
    </div>

    <div>
        <h3>Cadastro </h3>
        <p>Insira sua profissão ou especialidade e demais dados.</p>
    </div>

    <div>
        <h3>Serviço</h3>
        <p>Insira o serviço que deseja e o serviço que pode ofertar.</p>
    </div>

    <div>
        <h3>Conecte</h3>
        <p> Se conecte com outros usuários, pesquise por localidade.</p>
    </div>

    <div>
        <h3>Propostas</h3>
        <p>Receba e envie propostas de trocas, depois basta aceitar ou negar.</p>
    </div>

    <div>
        <h3>Avalie</h3>
        <p>Avalie no site as trocas realizadas, isso nos ajuda a manter a Comunidade mais
            segura e dentro dos padrões.</p>
    </div>

    <div>
        <h3>Troca</h3>
        <p>Agora basta usar o TrocaJusta e resolver problemas do dia a dia.</p>
    </div>

</div>