@model TrocaJusta.Models.Reclamacao

@{
    ViewData["Title"] = "Reclamação";
}

<h1>Reclame-Aqui</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chat" class="control-label">FeedBack</label>
                <input asp-for="Chat" class="form-control" />
                <span asp-validation-for="Chat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color:#519548" type="submit" value="Enviar" class="btn btn-primary" />
                <input type="submit" asp-action="Index" asp-controller="Home" value="Voltar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



