<div class="alert alert-success" >
  
  <strong >Reclamação Efetuada Com Sucesso!</strong>
  <a asp-action="Create" asp-controller="Reclamacao" class="text-dark">Clique-aqui, Para Uma nova Reclamação!, ou</a>
    <a asp-action="Index" asp-controller="Home" class="text-dark"> Clique-aqui,Voltar</a>
</div>