<div class="alert alert-success" style="background-color:#3e3742">
    <h2 class="text-white"> Seja Bem Vindo a Melhor Plataforma TrocaJusta!</h2>
  <strong class="text-white">Cadastro Realizado Com Sucesso!</strong>
  <a asp-action="Index" asp-controller="Login" class="text-white">Clique-aqui, para Entrar!</a>
</div>