
@{
    Layout = "_Layout";
    
    
} 
<div class="alert alert-success" >
    
  <strong >Serviço Realizado Com Sucesso!</strong>
  <a asp-action="Index" asp-controller="Home" class="text-dark">Clique-aqui, para Voltar!</a>
</div>