@{
    Layout = "_LayoutD";
    
} 

<div class="alert alert-success" >
    <h2 > Seja Bem Vindo a Melhor Plataforma TrocaJusta!</h2>
  <strong >Cadastro Realizado Com Sucesso!</strong>
  <a asp-action="Index" asp-controller="Login" class="text-dark">Clique-aqui, para Entrar!</a>
</div>